[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SidraFacil"]
	path = SidraFacil
	url = https://github.com/datascientist-br/sidrafacil
